@page "/product/{id:int}"
@model WebApp.Pages.ProductModel

@using System.Globalization

@{
    ViewData["Title"] = Model?.Product?.Name ?? "n/a";
    var culture = CultureInfo.CreateSpecificCulture("en-US");
    var returnUrl = Model?.ReturnUrl ?? "/";
}

<a href="@returnUrl" class="link-dark">Back to Products</a>
<div class="product-detail">
    @if (Model?.Product != null)
    {
        <div class="left-column">
            <h2>@Model.Product.Name #@Model.Product.Id</h2>
            <p><strong>Price:</strong> @Model.Product.Price.ToString("C", culture)</p>
            <p><strong>Stock:</strong> @Model.Product.Stock</p>
        </div>
        <div class="right-column">
            <h3>Description</h3>
            <p style="white-space: pre-line">@Model.Product.Description</p>
        </div>       
    }
</div>

@if (Model?.Product != null)
{
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="product-butoon-wrapper">
        <a href="/product/edit/@Model.Product.Id" class="btn btn-outline-primary">Edit</a>
        <form method="post" asp-page-handler="Delete" onsubmit="return confirm('Are you sure you want to delete this product?');">
            <input asp-for="Product.Id" type="hidden" />
            <input asp-for="Product.Name" type="hidden" />
            <input asp-for="Product.Price" type="hidden" />
            <input asp-for="Product.Stock" type="hidden" />
            <input asp-for="Product.Description" type="hidden" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
}
<style>
    .product-detail {
        display: flex;
        gap: 20px;
        padding: 20px;
    }
    .left-column {
        width: 30%;
    }

    .right-column {
        width: 45%;
    }
    .left-column h2, .right-column h3 {
        margin-top: 0;
    }

    .product-butoon-wrapper {
        display: flex;
		flex-direction: row;
        gap: 20px;
        padding: 0 0 0 20px;
    }
</style>